# Remove this line and fill in values below
DRONE_GITHUB_CLIENT_ID=xxx
DRONE_GITHUB_CLIENT_SECRET=xxx
DRONE_RPC_SECRET=xxx
DRONE_SERVER_PROTO=http
DRONE_RUNNER_CAPACITY=2
DRONE_USER=mygh-user
DRONE_UI_USERNAME=xxx
DRONE_UI_PASSWORD=xxx
HOST=xxx
PROTO=xxx
